In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('Police_data.csv')
data

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [4]:
data.shape

(65535, 15)

In [5]:
data.index

RangeIndex(start=0, stop=65535, step=1)

In [7]:
data.columns

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [8]:
data.dtypes

stop_date              object
stop_time              object
country_name          float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [9]:
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

# Instruction for data cleaning....

# Remove all the column names that contain missing values

In [15]:
#data.drop(columns=['A','B','C'],inplace=True,axis=1)

data.drop(columns=['country_name','driver_gender','driver_age_raw','driver_age','driver_race','violation_raw','violation','search_type','stop_outcome','is_arrested','stop_duration'],inplace=True,axis=1)

In [16]:
data

       stop_date stop_time  search_conducted  drugs_related_stop
0       1/2/2005      1:55             False               False
1      1/18/2005      8:15             False               False
2      1/23/2005     23:15             False               False
3      2/20/2005     17:15             False               False
4      3/14/2005     10:00             False               False
...          ...       ...               ...                 ...
65530  12/6/2012     17:54             False               False
65531  12/6/2012     22:22             False               False
65532  12/6/2012     23:20             False               False
65533  12/7/2012      0:23             False               False
65534  12/7/2012      0:30             False               False

[65535 rows x 4 columns]

#  Questions based on filtering and value counts....

# For speeding, were Men or Women stopped more often?

In [81]:
data[data.violation=='Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [82]:
data[(data.violation=='Speeding')&(data.driver_age>18)].driver_gender.value_counts()

M    24569
F    11213
Name: driver_gender, dtype: int64

In [45]:
data.loc[(data.violation=='Speeding')&(data.driver_age>18)&(data.driver_gender=='M')]

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
6,4/1/2005,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,7/13/2005,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65511,12/6/2012,8:45,NaN,M,1964.0,48.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65516,12/6/2012,10:52,NaN,M,1988.0,24.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65522,12/6/2012,14:17,NaN,M,1980.0,32.0,White,Speeding,Speeding,False,NaN,Citation,False,30+ Min,False
65523,12/6/2012,14:33,NaN,M,1967.0,45.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False

In [59]:
data.loc['driver_age']

KeyError: 'driver_age'

# Does gender affect who gets searched during stop?

In [77]:
data['search_conducted'].value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [95]:
data.groupby('driver_gender').sum()

,country_name,driver_age_raw,driver_age,search_conducted,drugs_related_stop
driver_gender,,,,,
F,0.0,32185666.0,527579.0,366,56
M,0.0,88784230.0,1563128.0,2113,462

In [98]:
#First Method.....

data.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [134]:
#SEcond Method.....

data[data.search_conducted ==True].driver_gender.value_counts()

M    2113
F     366
Name: driver_gender, dtype: int64

# What is the mean 'stop duration'?  first convert into float and then take mean

In [159]:
data['stop_duration'].value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [164]:
data['stop_duration']=data['stop_duration'].map({'0-15 Min':7.5 , '16-30 Min':24, '30+ Min':45})

In [168]:
data['stop_duration'].mean()

12.187420698181345

# Comapre age distributions for each violation

In [171]:
data.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False

In [174]:
data.groupby(['violation']).driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0

# how many male person were stopped for speeding between two perticular months?

#group by months as then show the male that were stopped for speeding

In [225]:
#  data['month']=data['stop_date'].apply(lambda x:x.getMonth(x))  -> This method applicable if column is date type....

data['month']= data['stop_date'].apply(lambda x: x.split('/')[0])  # This only works if datatype is object

In [6]:
data.dtypes

stop_date              object
stop_time              object
country_name          float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [227]:
data.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,month
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,1
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,1

In [264]:
data.groupby('month').data['violation']=='Speeding'.sum()

AttributeError: 'DataFrameGroupBy' object has no attribute 'data'